.projects__item {
  padding: 2rem 0;
  border-bottom: 2px solid var(--bs-gray);

  &:first-of-type {
    border-top: 2px solid var(--bs-gray);
  }
}

.project__item-link {
  text-decoration: none;
  color: var(--bs-dark);
}

.project__item-text {
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .projects__item {
    &--hot {
      position: relative;

      &::before {
        content: "";
        display: block;
        background: url("../img/fire.svg") no-repeat center center;
        background-size: cover;
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
