.projects__item {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--bs-gray);
}

.project__item-link {
  text-decoration: none;
  color: var(--bs-dark);
}

.project__item-text {
  text-align: center;
  font-size: 1.2rem;
}
