@font-face {
    font-family: 'Rubik';
    src: local('Rubik Bold'), local('Rubik-Bold'),
        url('./fonts/Rubik-Bold.woff2') format('woff2'),
        url('./fonts/Rubik-Bold.woff') format('woff'),
        url('./fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Medium'), local('Rubik-Medium'),
        url('./fonts/Rubik-Medium.woff2') format('woff2'),
        url('./fonts/Rubik-Medium.woff') format('woff'),
        url('./fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Light'), local('Rubik-Light'),
        url('./fonts/Rubik-Light.woff2') format('woff2'),
        url('./fonts/Rubik-Light.woff') format('woff'),
        url('./fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik Regular'), local('Rubik-Regular'),
        url('./fonts/Rubik-Regular.woff2') format('woff2'),
        url('./fonts/Rubik-Regular.woff') format('woff'),
        url('./fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

