@font-face
{
    font-family: 'Rubik';font-weight: bold;font-style: normal;src: local('Rubik Bold'),local('Rubik-Bold'),url('./fonts/Rubik-Bold.woff2') format('woff2'),url('./fonts/Rubik-Bold.woff') format('woff'),url('./fonts/Rubik-Bold.ttf') format('truetype');font-display: swap;
}@font-face
{
    font-family: 'Rubik';font-weight: 500;font-style: normal;src: local('Rubik Medium'),local('Rubik-Medium'),url('./fonts/Rubik-Medium.woff2') format('woff2'),url('./fonts/Rubik-Medium.woff') format('woff'),url('./fonts/Rubik-Medium.ttf') format('truetype');font-display: swap;
}@font-face
{
    font-family: 'Rubik';font-weight: 300;font-style: normal;src: local('Rubik Light'),local('Rubik-Light'),url('./fonts/Rubik-Light.woff2') format('woff2'),url('./fonts/Rubik-Light.woff') format('woff'),url('./fonts/Rubik-Light.ttf') format('truetype');font-display: swap;
}@font-face
{
    font-family: 'Rubik';font-weight: normal;font-style: normal;src: local('Rubik Regular'),local('Rubik-Regular'),url('./fonts/Rubik-Regular.woff2') format('woff2'),url('./fonts/Rubik-Regular.woff') format('woff'),url('./fonts/Rubik-Regular.ttf') format('truetype');font-display: swap;
}body,
html
{
    font-family: 'Rubik',system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans','Liberation Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';overflow-x: hidden;box-sizing: border-box;margin: 0;padding: 0;background: #fafafa;
}*,
::after,
::before
{
    box-sizing: border-box;
}img
{
    max-width: 100%;height: auto;
}.visually-hidden
{
    position: absolute !important;overflow: hidden;clip: rect(1px 1px 1px 1px);clip: rect(1px, 1px, 1px, 1px);width: 1px !important;height: 1px !important;padding: 0 !important;border: 0 !important;
}:root
{
    --animate-duration: 1.5s;--animate-delay: 1s;--animate-repeat: 1;
}

@-webkit-keyframes slideInLeft
{
    0%
    {
        visibility: visible;transform: translate3d(-100%, 0, 0);
    }to
    {
        transform: translateZ(0);
    }
}@keyframes slideInLeft
{
    0%
    {
        visibility: visible;transform: translate3d(-100%, 0, 0);
    }to
    {
        transform: translateZ(0);
    }
}.slideInLeft
{
    -webkit-animation-name: slideInLeft                        ;animation-name: slideInLeft;
}@-webkit-keyframes slideInRight
{
    0%
    {
        visibility: visible;transform: translate3d(100%, 0, 0);
    }to
    {
        transform: translateZ(0);
    }
}@keyframes slideInRight
{
    0%
    {
        visibility: visible;transform: translate3d(100%, 0, 0);
    }to
    {
        transform: translateZ(0);
    }
}.slideInRight
{
    -webkit-animation-name: slideInRight                        ;animation-name: slideInRight;
}@-webkit-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }to
    {
        opacity: 1;
    }
}@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }to
    {
        opacity: 1;
    }
}.fadeIn
{
    -webkit-animation-name: fadeIn                        ;animation-name: fadeIn;
}.header
{
    min-height: 31.25rem;padding: 2rem calc((100% - 1100px - 1.5rem)/ 2);background: url(../img/main-bg.jpg) no-repeat left 0;background-size: cover;
}.header__line
{
    display: flex;padding: 0 1.5rem;justify-content: center;flex-wrap: wrap;align-items: center;
}.header__logo a
{
    font-size: 2.4rem;font-weight: 400;text-decoration: none;color: #fdfdfd;text-shadow: 3px 8px 24px #222;
}.header__btn
{
    font-size: 1.2rem;font-weight: 300;margin: 0 .5rem 0 .5rem;box-shadow: 3px 8px 24px rgba(149,157,165,.2);
}.header__btn:last-of-type
{
    margin-right: 0;
}.header__main-text
{
    font-weight: 600;text-align: center;color: #fff;
}.header__title
{
    font-size: 2rem;font-weight: 400;margin: 4.5rem auto 2rem;text-shadow: 3px 8px 24px #222;
}.header__main-btn
{
    font-size: 1.5rem;position: relative;margin: 0 0 .5rem 0;padding: .5rem .75rem .5rem 3.2rem;
}.header__main-btn::before
{
    position: absolute;top: 50%;left: 1.6rem;display: block;width: 1.8rem;height: 1.8rem;content: '';transform: translate(-50%, -50%);
}.header__main-btn--get-work::before
{
    background: url(../img/suitcase.svg) no-repeat center center;
}.header__main-btn--get-master::before
{
    background: url(../img/worker.svg) no-repeat center center;
}.why
{
    padding: 0 calc((100% - 1100px - 1rem)/ 2);text-align: center;
}.why__title
{
    font-size: 2.1rem;margin: 5rem 0 3rem;
}.why__list
{
    margin: 0;padding: 1.5rem;list-style: none;
}.why__item
{
    margin-bottom: 3rem;
}.why__item-img-wrapper
{
    display: flex;width: 9rem;height: 9rem;margin: 0 auto;margin-bottom: 1rem;border: 4px solid #198754;border-radius: 50%;background: #fff;justify-content: center;align-items: center;
}.why__item-img
{
    width: 65%;
}.why__item-text
{
    max-width: 22.5rem;margin: 1rem auto;
}.custom
{
    margin-top: 7rem;padding: 0 1.5rem;text-align: center;
}.custom__text
{
    font-size: 1.1rem;max-width: 33rem;margin: 0 auto;
}.custom__img
{
    width: 15rem;margin: 2.5rem 0;
}.how-it-works
{
    margin: 3.5rem 0;padding: 3.5rem 0 2rem;background: #fff;background: linear-gradient(179deg, transparent 0, transparent 45px, #fff 45px, #fff 100%);
}.how-it-works__title
{
    margin-bottom: 5rem;text-align: center;
}.how-it-works__list
{
    position: relative;max-width: 1100px;margin: 0 auto;padding: 0 1rem;list-style: none;
}.how-it-works__list::before
{
    position: absolute;top: 50%;left: 3.41rem;display: block;width: 2px;height: 90%;content: '';transform: translateY(-50%);border: 1px dashed #198754;
}.how-it-works__item
{
    position: relative;display: flex;flex-direction: column;min-height: 5.25rem;margin-bottom: 3rem;padding-left: 7rem;justify-content: center;
}.how-it-works__item::before
{
    position: absolute;top: 0;left: 0;display: block;width: 5rem;height: 5rem;content: '';border-radius: 50%;background: #198754;
}.how-it-works__item--create::before
{
    background: url(../img/pencil.svg) no-repeat center center,#198754;background-size: 50%;
}.how-it-works__item--choose::before
{
    background: url(../img/choose.svg) no-repeat center center,#198754;background-size: 50%;
}.how-it-works__item--reserve::before
{
    background: url(../img/safe.svg) no-repeat center center,#198754;background-size: 50%;
}.how-it-works__item--follow::before
{
    background: url(../img/chat.svg) no-repeat center center,#198754;background-size: 50%;
}.how-it-works__item--reviews::before
{
    background: url(../img/review.svg) no-repeat center center,#198754;background-size: 50%;
}.how-it-works__item--done::before
{
    left: .7rem;width: 4rem;height: 4rem;background: url(../img/done.svg) no-repeat center center,#198754;background-size: 50%;
}.how-it-works__item-text
{
    margin: 0;
}.categories
{
    padding: 2rem 0 5rem;
}.categories__title
{
    margin-bottom: 5rem;text-align: center;
}.categories__list
{
    display: flex;max-width: 1100px;margin: 0 auto;padding: 0 2rem;list-style: none;justify-content: space-between;flex-wrap: wrap;
}.categories__item
{
    width: 100%;margin-bottom: 3.125%;transition: all .3s;text-align: center;border-radius: 1rem;background-color: #fff;box-shadow: rgba(100,100,111,.2) 0 7px 29px;
}.categories__item a
{
    display: block;padding: 2rem;text-decoration: none;color: #000;
}.categories__item:active,
.categories__item:hover
{
    box-shadow: rgba(0,0,0,.2) 0 7px 29px;
}.categories__item-title
{
    font-weight: 400;position: relative;margin: 2rem 0 0;
}.categories__item-title::before
{
    position: absolute;top: -1rem;left: 50%;display: block;width: 40px;height: 2px;content: '';transform: translate(-50%, -50%);background-color: #198754;
}.categories__item-img
{
    width: 4rem;
}.categories__link-wrapper
{
    max-width: 1100px;margin: 1rem auto 0;padding: 2rem;padding: 0 2rem;text-align: center;
}.categories__all-link
{
    font-size: 1.5rem;text-decoration: none;
}.footer
{
    padding: 7rem 2rem 2rem;background: linear-gradient(179deg, transparent 0, transparent 45px, #fff 45px, #fff 100%);
}.footer__logo a
{
    font-size: 2.4rem;font-weight: 400;
}.footer__copy
{
    display: none;
}.footer__wrapper
{
    display: flex;max-width: 1100px;margin: 0 auto;flex-wrap: wrap;justify-content: space-between;
}.footer__column
{
    width: 100%;margin-bottom: 2rem;text-align: center;
}.footer__column a
{
    display: block;margin-bottom: .5rem;transition: all .2s;text-decoration: none;color: #212529;
}.footer__column a:focus,
.footer__column a:hover
{
    color: #0a0c0d;
}:root
{
    --animate-duration: 1.5s;--animate-delay: 1s;--animate-repeat: 1;
}.animated
{
    -webkit-animation-duration: 1s                                        ;-webkit-animation-duration: var(--animate-duration);animation-duration: 1s;animation-duration: var(--animate-duration);-webkit-animation-fill-mode: both;animation-fill-mode: both;
}@-webkit-keyframes slideInLeft
{
    0%
    {
        visibility: visible;transform: translate3d(-100%, 0, 0);
    }to
    {
        transform: translateZ(0);
    }
}@keyframes slideInLeft
{
    0%
    {
        visibility: visible;transform: translate3d(-100%, 0, 0);
    }to
    {
        transform: translateZ(0);
    }
}.slideInLeft
{
    -webkit-animation-name: slideInLeft                        ;animation-name: slideInLeft;
}@-webkit-keyframes slideInRight
{
    0%
    {
        visibility: visible;transform: translate3d(100%, 0, 0);
    }to
    {
        transform: translateZ(0);
    }
}@keyframes slideInRight
{
    0%
    {
        visibility: visible;transform: translate3d(100%, 0, 0);
    }to
    {
        transform: translateZ(0);
    }
}.slideInRight
{
    -webkit-animation-name: slideInRight                        ;animation-name: slideInRight;
}@-webkit-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }to
    {
        opacity: 1;
    }
}@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }to
    {
        opacity: 1;
    }
}.fadeIn
{
    -webkit-animation-name: fadeIn                        ;animation-name: fadeIn;
}@media(prefers-reduced-motion: no-preference)
{
    :root
    {
        scroll-behavior: smooth;
    }
}@media(min-width: 1200px)
{
    .h1,
    h1
    {
        font-size: 2.5rem;
    }.h2,
    h2
    {
        font-size: 2rem;
    }.h3,
    h3
    {
        font-size: 1.75rem;
    }.h4,
    h4
    {
        font-size: 1.5rem;
    }
}@media(prefers-reduced-motion: reduce)
{
    .btn
    {
        transition: none;
    }
}@media screen and (min-width: 576px)
{
    .header__line
    {
        justify-content: space-between;
    }.header__title
    {
        font-size: 2.75rem;
    }.header__main-btn
    {
        margin: 0 0 .5rem 1rem;
    }.why__list
    {
        display: flex;justify-content: space-evenly;flex-wrap: wrap;
    }.categories__item
    {
        width: 48%;
    }.categories__link-wrapper
    {
        text-align: right;
    }
}@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi),only screen and (min-resolution: 2dppx)
{
    .header
    {
        background: url(../img/main-bg@2x.jpg) no-repeat left 0;background-size: cover;
    }
}@media screen and (min-width: 768px)
{
    .why__title
    {
        font-size: 2.5rem;margin: 7rem 0 5rem;
    }.why__item-img-wrapper
    {
        width: 10rem;height: 10rem;
    }.custom__text
    {
        font-size: 1.25rem;
    }.custom__img
    {
        width: 19rem;
    }.how-it-works
    {
        padding: 7rem 0 3.5rem;
    }.how-it-works__title
    {
        margin: 0 0 6rem;
    }.how-it-works__list::before
    {
        left: 50%;transform: translate(-50%, -50%);
    }.how-it-works__item::before
    {
        top: 50%;left: 50%;width: 5.25rem;height: 5.25rem;transform: translate(-50%, -50%);
    }.how-it-works__item--done::before
    {
        width: 4rem;height: 4rem;
    }.how-it-works__item:nth-last-of-type(2n)
    {
        padding-right: 60%;padding-left: 5%;
    }.how-it-works__item:nth-last-of-type(2n+1)
    {
        padding-right: 5%;padding-left: 60%;
    }
}@media screen and (min-width: 1100px)
{
    .why__item
    {
        width: 28.5%;
    }.categories__item
    {
        width: 17.5%;
    }.footer__copy
    {
        display: block;color: #4e5862;
    }.footer__column
    {
        width: auto;text-align: left;
    }
}



