:root {
  --color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --color-interaction-minus-two: rgba(73, 133, 224, 0.12);
  --color-ink-high-contrast: #121212;
}

body {
  background: #fff;
}

.auth-header {
  text-align: center;
  padding: 4rem 1rem 4rem;
  max-width: var(--desktop);
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px dashed rgba(#198754, .7);
}

.auth-header__logo a {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;

  &:hover,
  &:active {
    opacity: .6;
  }

  &:focus {
    opacity: .8;
  }

}

.auth-header__text {
  font-size: 1.25rem;
  max-width: 30rem;
  margin: 1rem auto 0;
}

.auth-form {
  padding: 3rem calc((100vw - var(--desktop)) / 2);
}

.auth-form__label {
  margin: 0 0 3rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form__label-text {
  padding: 0 3rem;
}

.auth-page__input-radio {
  display: block;
  margin-bottom: .5rem;
  cursor: pointer;

  span {
    display: inline-block;
    padding-left: .5rem;
  }
}

.auth-page__submit {
  width: 12rem;
  display: block;
  margin: 0 auto;
  padding: .6rem 1rem;
}

div.auth-page__input-group {
  position: relative;
  width: 16rem;

  &--rules {
    font-size: .9rem;
  }
}

/* Input*/
.auth-page__input-underlined {
  input {
    border: none;
    border-bottom: 0.125rem solid var(--color-ink-medium-contrast);
    width: 100%;
    height: 3.2rem;
    font-size: 1rem;
    line-height: 147.6%;
    padding: .85rem 0 .42rem .75rem;
    background: transparent;
    transition: all .3s;

    &:focus {
      outline: none;
      border-color: var(--main-color);
    }

    &:hover,
    &:active {
      background: var(--color-interaction-minus-two);
      border-color: var(--color-ink-high-contrast);
    }
  }
}

.auth-page__input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: var(--color-ink-medium-contrast);
  transition: all .3s;
  user-select: none;
}

.auth-page__input-helper {
  font-size: 0.9375rem;
  color: var(--color-ink-medium-contrast);
  letter-spacing: 0.0275rem;
  margin: 0.125rem 0.875rem;
}

.auth-page__input-underlined > input:focus + .auth-page__input-label,
.auth-page__input-underlined > input:active + .auth-page__input-label,
.auth-page__input-underlined > input:valid + .auth-page__input-label,
.auth-page__input-underlined > input:not([value=""]):invalid + .auth-page__input-label {
  top: 0;
  font-size: 0.85rem;
  margin-bottom: 32px;
}

.auth-page__input-underlined > input:focus + .auth-page__input-label {
  color: var(--main-color);
}

@media screen and (min-width: 576px) {
  .auth-header {
    padding: 7rem 1rem 4rem;
  }

  .auth-header__text {
    font-size: 1.5rem;
  }


  .auth-form__label {
    flex-direction: row;
    align-items: flex-end;
  }

  .auth-form__label-text {
    margin-left: -7rem;
    padding: 0 3rem 0 0;
    text-align: right;
    width: 20rem;
  }

  div.auth-page__input-group {
    width: 18rem;
  }

  .auth-page__submit {
    margin: 0;
    padding: .6rem 1rem;
  }
}
