/************************************************
    ************************************************
										Search Box
	************************************************
************************************************/

.chat-search-box {
  border-radius: 3px 0 0 0;
  padding: .75rem 1rem;
}

.chat-search-box .input-group .form-control {
  border-radius: 2px 0 0 2px;
  border-right: 0;
}

.chat-search-box .input-group .form-control:focus {
  border-right: 0;
}

.chat-search-box .input-group .input-group-btn .btn {
  border-radius: 0 2px 2px 0;
  margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
  font-size: 1.2rem;
  line-height: 100%;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .chat-search-box {
    display: none;
  }
}



/************************************************
	************************************************
											Users
	************************************************
************************************************/
.users {
  margin: 0;
  padding: 0;
  list-style: none;
}

.users .person {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 1rem;
  cursor: pointer;
  transition: all .1s;

  &:hover,
  &:focus,
  &.active-user {
    background-color: #f8f9fa;
  }
}

.users .person:last-child {
  border-bottom: 0;
}

.users .person .user {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.users .person .user img {
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #e6ecf3;
  position: absolute;
  top: 0;
  right: 0;

  &.online {
    background: #9ec94a;
  }

  &.offline {
    background: #c4d2e2;
  }
}

.users .person p.name-time {
  font-weight: 600;
  font-size: .85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex-grow: 1;
}

.users .person p.name-time .time {
  font-weight: 400;
  font-size: .7rem;
  text-align: right;
  color: #8796af;
}

@media (max-width: 767px) {
  .users .person .user img {
    width: 30px;
    height: 30px;
  }
  .users .person p.name-time {
    display: none;
  }
  .users .person p.name-time .time {
    display: none;
  }
}

.chat-card {
  border: 0;
  background: #f4f5fb;
  border-radius: 2px;
  margin-bottom: 2rem;
  box-shadow: none;
}
